@use 'src/sass/variables' as *;
@use 'src/sass/mixin' as *;

.verification {
  height: 100vh;
  @include displayCenter;

  .wrapper {
    position: relative;
    background-color: #FFF;
    box-shadow: $box-shadow;
    padding: 3rem 1rem 2rem 1rem;
    width: 60%;
    text-align: center;

    .email-icon {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 50px;
      height: 50px;
      background-color: $color-light;
      border-radius: 50%;
      @include displayCenter;

      i {
        font-size: 1.5rem;
        color: hsl(120, 95%, 65%);
      }
    }

    h3 {}

    h5 {
      font-size: 0.9rem;
      color: hsl(120, 95%, 65%);
      margin-block-end: 20px;
    }

    .formGroup {
      margin-block-end: 20px;

      p {
        margin-block-end: 0;
      }

      span {
        font-weight: 600;
      }
    }

    .resend-email {
      margin-block-end: 30px;

      p {
        margin-block-end: 10px;
      }

      button {
        background-color: hsl(120, 95%, 65%);
        border: 2px solid hsl(120, 95%, 65%);
        padding: 9px 15px 7px 15px;
        font-size: 0.9rem;
      }
    }

    .redirectToLogin {
      .redirect {
        color: hsl(120, 95%, 65%);
        font-weight: 600;
        text-decoration: underline;
        cursor: pointer;
      }
    }
  }
}
