@use 'src/sass/variables' as *;
@use 'src/sass/mixin' as *;

.displayTable {
  height: 100vh;
  background-color: #ddd;
  @include displayCenter;

  .displayTableCell {
    background-color: #FFF;
    box-shadow: $box-shadow;
    padding: 2rem 1rem 2rem 1rem;
    width: 60%;
    text-align: center;

    .authBlock {
      p {
        color: hsl(120, 95%, 65%);
      }

      button {
        background-color: hsl(120, 95%, 65%);
        border: 2px solid hsl(120, 95%, 65%);
        padding: 9px 15px 7px 15px;
        font-size: 1rem;
        margin-block-start: 20px;
        margin-block-end: 40px;
      }
    }

    .redirectToLogin {
      .redirect {
        color: hsl(120, 95%, 65%);
        font-weight: 600;
        text-decoration: underline;
        cursor: pointer;
      }
    }
  }
}
