<div id="card">
  <div class="row">
    <div class="col-md-6 my-4" *ngFor="let news of newsArr; let i = index">
      <div class="wrapper" (click)="addNewItem(i)">
        <div class="image">
          <img [src]="news.urlToImage" alt="" class="img-fluid">
        </div>
        <div class="content">
          <div>
            <h6>{{news.title}}</h6>
            <p>{{news.description}}</p>
          </div>
          <div>
            <span>{{news.publishedAt | date : 'short'}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
