@use 'src/sass/variables' as *;

.profile-information {
  background-color: $color-white;
  padding: 30px 50px;
  border-radius: 7px;
  box-shadow: 0 0px 5px 0 rgba(0, 0, 0, 0.1), 0 0px 10px 0 rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;

  h2 {
    margin-bottom: 30px;
  }

  label {
    margin-bottom: 5px;
    margin-left: 5px;
  }

  .wrapper {
    display: flex;
    justify-content: space-between;

    &>div {
      width: 48%;
    }
  }

  button {
    width: 100%;
    background-color: $color-primary;
    color: $color-white;
    border: 2px solid transparent;
    transition: 0.3s;

    &:hover {
      border: 2px solid $color-primary;
      background-color: transparent;
      color: $color-dark;
    }
  }
}

.profile-pic {
  background-color: $color-white;
  padding: 30px 50px;
  border-radius: 7px;
  box-shadow: 0 0px 5px 0 rgba(0, 0, 0, 0.1), 0 0px 10px 0 rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;

  img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 20px;
    object-fit: cover;
  }
}

.cropper-image {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  image-cropper {
    width: 100%;
  }

  .img-preview {
    width: 200px;
    height: 200px;
  }

  h5 {
    text-align: center;
  }
}

.update-button {
  background-color: $color-primary;
  color: $color-white;
}
